.boxes {
  display: flex;
  flex-direction: row;
}

.box1 {
  display: flex;
  margin: 2em;
}
.box2 {
  display: flex;
  margin: 2em;
}
.about {
  display: flex;
  align-content: center;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
li {
  list-style: none;
}

.Logo img {
  display: flex;
  align-content: center;
  width: 5em;
}
.background1 {
  background-color: #771107;
}
.background2 {
  background-color: #3a2014;
}
